<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="algn">
      <div id="card">
        <div id="upper-bg">
          <img
            src="
            https://source.unsplash.com/500x500/?game"
            alt="profile-pic"
            class="profile-pic"
          />
        </div>
        <div id="lower-bg">
          <div class="text">
            <h2 class="name"><%= user.fullName %></h2>
            <h3 class="name"><%=user.username %></h3>
            <p class="tagline">
              Lorem ipsum dolor sit amet consectetur adipisicing.
            </p>
            <p class="description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat.
            </p>
            <a href="/logout" class="button">Logout</a>
          </div>
          <div id="icons">
            <a href="#" class="ico"
              ><img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/gmail-new.png"
                alt="gmail-new"
            /></a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency/48/github.png"
                alt="github"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/linkedin.png"
                alt="linkedin"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/facebook-new.png"
                alt="facebook-new"
              />
            </a>
          </div>
          <div id="btn">
            <a href="#" class="msg">Account Setting</a>
          </div>
          <div id="l-c-s">
            <div class="num">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png"
                alt="facebook-like--v1"
              />
              <span>35k</span>
            </div>
            <div class="num dvr"></div>
            <div class="num">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble--v1.png"
                alt="speech-bubble--v1"
              />
              <span>20k</span>
            </div>
            <div class="num dvr"></div>
            <div class="num">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/pulsar-line/48/share.png"
                alt="share"
              />
              <span>15k</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="filecaption" placeholder="some caption" />
        <input type="file" name="file" />
        <input type="submit" value="upload" />
      </form>
    </div>
    <div class="container">
      <% user.posts.forEach(function (post) {%>
      <img src="/images/uploads/<%= post.image %>" alt="" />
      <div class="card-body">
        <h5 class="card-title"><%=post.imageText %></h5>
      </div>
      <%}) %>
    </div>
  </body>
</html>
